*{
    padding: 0;
    margin: 0;
}

.backImg{
    width: 100%;
    height: 120vh;
    background-image: url('iqbal.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.profile{
    width: 450px;
    background-color: rgb(0,0,0,0.3);
    padding: 40px 0;
    border-radius: 10%;
    margin: auto;
    margin-top: 5%;
    font-family: 'Century Gothic',sans-serif;
} 

img{
    height: 250px;
    border-radius: 70%;
}

.profileText{
    margin-bottom: 20px;
}

.profileText h2{
    font-size: 2em;
    font-weight: 100;
    margin-bottom: 30px;
    
}

.profileText h5{
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 20px;
    letter-spacing: 3px;
}

.profileText p{
    margin-bottom: 20px;
}


ion-icon{
    font-size: 40px;
    color: white;
}